<p>
  01110100 01100101 01101110 01000010
  <br/>
  01101100 01110101 01100101 01001100
  <br/>
  01101001 01101110 01101011 01110011
</p>
<%= "<br/> " * 2 %>
<p>
  tenBlueLinks is a simple search engine designed for old browsers and slow internet connections.
  <br/>
  Follow me at:
  <br/>
  @ShreyanJ9 on Twitter
  <br/>
  @shreyan@mstdn.social on Mastodon
  <br/>
  npub1lqxauw3yjjf8y5sma55e34ux4td3u7mppkl20qz4na23gh8vj8jsmarj5c on nostr
</p>
<%= "<br/> " * 7 %>
<img alt="01110100 01100101 01101110 01000010\r\n    01101100 01110101 01100101 01001100\r\n    01101001 01101110 01101011 01110011" height="167" src="dogcow.png" width="190"/>
<%= "<br/> " * 2 %>
<a href="/">Back to Home</a>
