<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>tenBlueLinks</title>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <%= erb :header %>
    <%= yield %>
  </body>
</html>
