<div style="text-align: center;">
  <div id="result-preview-wrap" style="white-space: pre; font-family: monospace; display: block; font-size: 15px; line-height: 1.4; margin: 0; padding: 0 5px 5px 5px;">
    | |_ ___ _ __ | __ )| |_   _  ___| |   (_)_ __ | | _____
    | __/ _ \ '_ \|  _ \| | | | |/ _ \ |   | | '_ \| |/ / __|
    | ||  __/ | | | |_) | | |_| |  __/ |___| | | | |   &lt;\__ \
    \\__\___|_| |_|____/|_|\__,_|\___|_____|_|_| |_|_|\_\___/
  </div>
  <h1>Search the Web</h1>
  <br>
  <form action="/results" method="get">
    <input type="text" name="query" size="50" placeholder="Search for anything">
    <select name="engine">
      <% Engines.each do |name, engine| %>
        <option value="<%= name %>"><%= engine[0] %></option>
      <% end %>
    </select>
    <%= "<br/> " * 4 %>
    <input type="submit" value="Search">
  </form>
</div>
