<div align="right">
  <a href="/about">About</a>
  <a href="/options/view">
    <img src="<%= url('/settings.png') %>" style="height:20px; width:auto; vertical-align:bottom;" alt="A settings gear icon.">
  </a>
</div>
