<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <% if @title %>
      <title> <%= "#{@title} || tenBlueLinks" %> </title>
    <% else %>
      <title>tenBlueLinks</title>
    <% end %>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%= erb :header %>
    <%= yield %>
  </body>
</html>
